/*CMS*/
.header-sen {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #58585b;
    background-image: url(https://packetworx.com/media/img/sidebar_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    position: absolute;
}
ul.menu-sen li {
    list-style-type: none;
    padding: 0px 0px 0px 5px;
}
ul.menu-sen {
    padding: 0;
}
ul.menu-sen li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
ul.menu-sen li a:hover{
    background-color: #ef8020;
    color: white;
    transition: .2s;
}
ul.menu-sen {
    padding: 0px;
}
ul.menu-sen i {
    color: white;
    padding: 0px 10px 0px 0px ;
}

.dash-container{
  height: 100vh;
}
.pd-left10{
padding: 0px 0px 0px 10px !important;
}
.admin-header {
    background-color: white;
    box-shadow: 1px 0px 4px 0.5px;
    width: 100%;
    height: 50px;
}
.dashboard-logo {
    width: 170px;
    margin: 0px 20px;
}
.cs-logout a {
    text-align: right;
    float: right;
    margin: 5px 24px 0px 0px;
    color: #58585b;
}
.cs-logout a:hover {
    color: #ef8020;
    text-decoration: none;
    transition: .2s;
}
a.cs-menuicon {
    font-size: 30px;
    color: #58585b;
    margin: 0px 20px;
    display: block;
}
/*MMENU*/
#cs-menu ul.menu-sen li {
    list-style-type: none;
    padding: 0px;
}
#cs-menu ul.menu-sen li a:hover,#cs-menu ul.menu-sen li a:hover i{
    background-color: #ef8020;
    color: white;
    transition: .2s;

}
img.logo-mobile {
    width: 100%;
    padding: 20px;
}
#cs-menu .menu-sen li a {
    color:#58585b;
    padding: 20px;
}
#cs-menu .menu-sen li i {
    color: #58585b;
}
#cs-menu div#mm-1 {
    padding-top: 0;
    background-color: white;
    background-image: url(https://packetworx.com/media/img/sidebar_bg.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position-y: 200px;
    background-position-x: 80px;
}
#cs-menu .mm-panel.mm-hasnavbar .mm-navbar {
    display: none;
}
#cs-menu .mm-panels>.mm-panel>.mm-listview {
    border-color: transparent;
    /*margin-top: 5px;*/
}
.mm-navbar.mm-navbar-size-3 {
    background-color: white;
}
#cs-menu .mm-navbars-top {
    border-bottom-style: none;
}
.gateways-table{
    width: 93%;
    margin: 3px 0px 0px 5px;
    outline: 3px solid #ef8020;
}
table.gateways-table th {
    border: 1px solid #ececec;
    padding: 20px;
    text-align: center;
}
table.gateways-table th:not(:last-child)  {
    min-width: 150px;
}
table.gateways-table th:last-child  {
    min-width: 165px;
}
table.gateways-table td {
    text-align: center;
    border: 1px solid #ececec;
    padding: 6px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.all_title_tr{
    background-color: #ef8020;
    color: white;
}
.clr_2{
    background-color: #ef802017;
}
.gateway_btns {
    background-color: #58585b;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}
.controller div {
    margin: 2px;
}
.controller {
    margin: 5px 28px;
    margin-left: -5px;
}
.controller a:hover {
    text-decoration: none;
    color: white;
}
.gateway_btns:hover {
    background-color: #424242;
    transition: .2s;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.gateway_btns:hover .delAll {
    background-color: #ef8020;
    transition: .2s;
    cursor: pointer;
}
.gateway_btns a,.gateway_btns a:hover {
    color: white;
    text-decoration: none;
}

.delAll{
    background-color: #58585b;
    transition: .2s;
    cursor: pointer;
    border-style: none;
    color: white;
    padding: 10px 70px;
    border-radius: 5px;
    width: 100%;
}
.delAll:hover{
    background-color: #424242;
    transition: .2s;
    cursor: pointer;
}
form.delForm {
    padding: 0;
    margin: 0;
}
table.gateways-table td {
    padding: 12px;
}
.cs-logout a {
    text-transform: capitalize;
}
.no-border input {
    border: navajowhite;
    background-color: transparent;
    border-bottom: 1px solid #d4d4da;
}
img.main-dashboard-logo {
    width: 500px;
    text-align: center;
    margin: auto;
    opacity: 0.2
}
.search-field input:last-child {
    margin-right: 61px;
}
body.dashboard-view iframe {
    width: 100%;
    height: 100vh;
    border: none;
}
table.gateways-table th:nth-child(2), table.gateways-table th:nth-child(3) {
    min-width: 90px !important;
}
table.gateways-table th:nth-child(1) {
    width: 127px !important;
    min-width: 183px !important;
}
table.gateways-table th:nth-child(7) {
    min-width: 90px;
}

/*#cs-menu .menu-sen li a {
    color: red;
    border-style: none;
    outline: 1px solid white;
}*/
/*MEDIA QUERIES*/
/* col-lg */
@media (max-width:1200px){

}

/* col-md */
@media (max-width:992px){

}

/* col-sm */
@media (max-width:768px){

}

/* col-xs */
@media (max-width:576px){
.gateways-table{
    margin: 0px;
}
}