.action-edit a {
    display: inline;
    margin: 5px;
    padding: 5px 8px;
    border-radius: 5px;
}
.action-edit a:hover {
  text-decoration: none;
}
table.gateways-table input {
    text-align: center;
}
.action-edit a:nth-child(1) {
    color: white;
    background-color: #6464da;
}
.action-edit a:nth-child(2) {
    color: white;
    background-color: #78c378;
}
.action-edit a:nth-child(3) {
    color: white;
    background-color: #da3d3d;
}
.action-edit-save  {
    background-color: #58585b;
    color: white;
    padding: 11px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px 0px;
    width: 200px !important;
}
.action-edit-save:hover{
	background-color: #424242;
	transition: .2s;
	cursor: pointer;
}

.view_gateways_edit div span {
    width: 125px;
    display: inline-block;
    font-weight: 500;
    margin: 12px;
}
.view_gateways_edit {
    /*margin: 50px;*/
    border-radius: 5px;
    padding: 30px 30px 0px 30px;
}
.view_gateways_edit input {
    border: none;
    border-bottom: 1px solid #d6d6d6;
    width: 190px;
    padding: 0px 5px;
}

.view_gateways_view div span {
    width: 125px;
    display: inline-block;
    margin: 12px;
    font-weight: 500;
}
.view_gateways_view {
    /*margin: 50px;*/
    border-radius: 5px;
    padding: 30px 30px 0px 30px;
}
.view_gateways_view input {
    border: none;
    border-bottom: 1px solid #d6d6d6;
    min-width: 217px;
    padding: 0px 5px;
}
.view_gateways_view input {
    background-color: transparent;
    border-bottom: none;
}
.edit_back a {
     background-color: #58585b;
    color: white;
    padding: 11px 81px;
    border-radius: 5px;
    text-decoration: none;
    width: 100% !important;
    display: inline-block;
    text-align: center;
}
.edit_back a:hover{
	background-color: #424242;
	transition: .2s;
	cursor: pointer;
    text-decoration: none;
    color: white;
}
.view_back a {
     background-color: #58585b;
    color: white;
    padding: 11px 81px;
    border-radius: 5px;
    text-decoration: none;
    width: 100% !important;
    display: inline-block;
    text-align: center;
}
.view_back a:hover {
    background-color: #424242;
    color: white;
    text-decoration: none;
    transition: .2s;

}
.view_gateways_edit select {
    padding: 1px 30px;
}
.view_gateways_edit select:last-child {
    padding: 1px 60px;
}

input.readonly {
    background-color: #dcdcdc96;
    color: black;
    cursor: no-drop;
}
.action-edit-save{
    border: none;
    border-bottom: 1px solid #d6d6d6;
    width: 300px;
    padding: 10px 5px !important; 
}
input.action-edit-save {
    width: 100% !important;
}
span.nofound {
    color: #58585b;
    font-size: 17px;
    padding: 1px;
    margin: -30px 5px 5px 5px;
    display: block;
    position: absolute;
}
span.searchfound {
    color: #58585b;
    font-size: 17px;
    padding: 1px;
    margin: -30px 5px 5px 5px;
    display: block;
    position: absolute;
}
.form-chck form{
    margin:0px;
}
.status_ select {
    padding: 1px !important;
    width: 184px;

}
.view_gateways_view textarea {
    min-width: 200px;
    height: 44px;
    vertical-align: middle;
    resize: none;
    margin: 10px 0px 0px 0px;
    background-color: #eaeaea00;
    border: none;
}