search-field search_ span {
    color: #ef8020;
    font-size: 25px;
    margin: 10px;
    display: block;
}
.results {
    margin: 30px;
}
.search-field {
    margin: 20px 3px 0px 50px;
    text-align: right;
}
.search-field input {
    padding: 5.3px;
    border-radius: 5px;
    border: 1px solid #58585b;
}
.search-field input[type="submit"] {
    background-color: #58585b;
    color: white;
    padding: 5.3px 15px;
    margin-left: -9px;
    cursor: pointer;
    border-radius-left: none !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.search-field input[type="submit"]:hover {
    background-color: #424242;
	color: white;
	text-decoration: none;
    transition: .2s;
}