
.pro_set {
    font-size: 20px;
    margin: 50px 50px 5px 0px;
    background-color: #a52a2a;
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    color: white;
}

.settings_ {
    width: 100%;
    padding: 20px;
    background-color: aliceblue;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(66,66,66,0.58);
    -moz-box-shadow: 1px 1px 5px 0px rgba(66,66,66,0.58);
    box-shadow: 1px 1px 5px 0px rgba(66,66,66,0.58);
    border-radius: 5px;
}
.settings_ input {
    margin: 5px;
    padding: 5px;
    width: 100%;
}
.settings_ a {
    background-color: brown;
    color: white;
    padding: 7px 20px;
    display: inline-block;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}
.settings_ a:hover {
    background-color: #9c0c0c;
    transition: .2s;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.settings-col {
    padding: 0px 50px !important;
}
  
.changepass input[type="submit"] {
    background-color: brown;
    color: white;
    border: navajowhite;
    border-radius: 5px;
    width: 200px;
    padding: 7px 0px;
    cursor: pointer;
}
.changepass input[type="submit"]:hover {
    background-color: #9c0c0c;
    text-decoration: none;
    transition: .2s;
}
a.closeModal {
    margin-left: 11px !important;
}

.activelink{
    background-color: #ef8020;
    color: white;
    transition: .2s;
}